{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Boredometer</title>
           
        <link rel="stylesheet" href="{% static 'css/brand.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/static.andigital.com/fonts/fonts.css"
              type="text/css">

    </head>
    <body>

        <header>
            <div class="header">
                <a href="/">
                    <img src="{% static 'images/logo.png' %}" alt="AND Digital" class="header-logo">
                </a>
            </div>
        </header>

        {% block hero %}

        {% endblock %}

        <main class="align-center red-theme container">
            {% block content %}

            {% endblock %}
        </main>

        <script src="{% static 'js/underscore-helpers.js' %}"></script>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>

</html>
