{% extends 'base_template.html' %}
{% load static %}

{% block content %}
<div data-mod="refresh-screen">

    <div class="text-center">
        <div class="heading-1">
            Lesson ID: {{ lesson.id }}
        </div>
        <div class="heading-1">
            <span id="participants">{{ lesson.participants }}</span> participants
        </div>

        <a href="/share/{{ lesson.id }}" target="_blank" class="js-share-lesson link-external">
            Share lesson
        </a>
    </div>

    <div class="js-next-section text-red text-lead hide">
        Your students have voted to move on to the next section.
    </div>

    <div class="timer js-timer text-center">
        00:00
    </div>

    <div class="lesson-signup">
        <div class="container">
            <form action="{% url 'next_section' lesson_id=lesson.id %}" method="get" name="lessonControl">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'end_lesson' lesson_id=lesson.id %}" class="link-primary button--full-width">   End Lesson
                        </a>
                    </div>
                    <div class="col">
                        <button type="submit" disabled="" class="button button--full-width text-center">
                            Next Section
                        </button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
</div>

<script>
        if(localStorage.getItem('lecturerLessonId') !== '{{ lesson.id }}') {
            localStorage.setItem('lecturerLessonId', '{{ lesson.id }}');
            localStorage.removeItem('startTime');
        }
</script>
{% endblock %}
