{% extends 'base_template.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/refresh_screens.es6' %}"></script>
{% endblock %}

{% block content %}
    <p>Lesson Number: <span id="lessonNumber">{{ lesson.id }}</span></p>
    <p>You have <span id="amountBored">{{ lesson.amount_bored }}</span>/
        <span id="participants">{{ lesson.participants }}</span> bored participants</p>
    <a href="{% url 'clear_bored' lesson_id=lesson.id %}">Next Section</a>
    <a href="{% url 'end_lesson' lesson_id=lesson.id %}">End Lesson</a>
{% endblock %}
