{% extends 'base_template.html' %}
{% load static %}

{% block content %}
    <div data-mod="refresh-screen">
        <p>Lesson Number: <span id="lessonNumber">{{ lesson.number }}</span></p>
        <p>You have <span id="amountBored">{{ lesson.amount_bored }}</span>/
        <span id="participants">{{ lesson.participants }}</span> bored participants</p>
        <a href="{% url 'clear_bored' lesson_number=lesson.number %}">Next Section</a>
        <a href="{% url 'end_lesson' lesson_number=lesson.number %}">End Lesson</a>
    </div>
{% endblock %}
