.lesson-signup {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background: #ffffff;
    padding-top: 1rem;

    @media (min-width: 960px) {
        position: relative;
    }
}
