$green: #5AC328;
$grey: #898989;

@import "lesson-signup";

.button--full-width {
    width: 100%
}

.home {
    padding-bottom: 136px;
}

.header-logo {
    margin: 15px 0;
}

label {
    // @extend .form-label;
}

.link--success {
    border-color: $green !important;
    color: $green !important;
}

.link--disabled {
    border-color: $grey !important;
    color: $grey !important;

    &:hover {
        cursor: none;
    }
}
