$green: #5AC328;

@import "lesson-signup";

.button--full-width {
    width: 100%
}

.home {
    padding-bottom: 136px;
}

.header-logo {
    margin: 15px 0;
}

label {
    // @extend .form-label;
}

.link--success {
    border-color: $green !important;
    color: $green !important;
}
